{{- if .Values.monitoring.grafana.enabled }}
apiVersion: v1
kind: Service
metadata:
  namespace: {{ .Values.monitoring.namespace | default .Release.Namespace }}

  name: grafana
  labels:
    app: grafana
spec:
  type: ClusterIP
  selector:
    app: grafana
  ports:
    - port: {{ .Values.monitoring.grafana.service.port }}
      targetPort: 3000
      protocol: TCP
      name: http
{{- end }}