stages:
  - build
  - test
  - docker

# === FRONTEND ===
build_frontend:
  stage: build
  image: node:20-alpine
  script:
    - cd client
    - npm ci
    - npm run build
  artifacts:
    paths:
      - client/build
  only:
    - dev
    - main

# === BACKEND ===
build_backend:
  stage: build
  image: node:20-alpine
  script:
    - cd backend
    - npm ci
    - npm run build
  artifacts:
    paths:
      - backend/dist
  only:
    - dev
    - main

# === TESTS (если будут) ===
test_backend:
  stage: test
  image: node:20-alpine
  script:
    - cd backend
    - npm ci
    - npm run test
  only:
    - dev
    - main

# === DOCKER BUILD ===
docker_build:
  stage: docker
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker compose build
  only:
    - dev
    - main