version: "3.9"

services:
jenkins:
  build:
    context: .
    dockerfile: Dockerfile.jenkins
  container_name: jenkins
  user: root
  ports:
    - "8080:8080"
    - "50000:50000"
  volumes:
    - jenkins_home:/var/jenkins_home
    - /var/run/docker.sock:/var/run/docker.sock
  networks:
    - app-network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus:/etc/prometheus
    ports:
      - "9090:9090"
    networks:
      - app-network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3003:3000"
    volumes:
      - ./prometheus/grafana/provisioning:/etc/grafana/provisioning
      - ./prometheus/grafana/dashboards:/var/lib/grafana/dashboards
    networks:
      - app-network
    depends_on:
      - prometheus

  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: nest-backend
    ports:
      - "5001:3000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app:cached
    command: [ "npm", "run", "start:dev" ]
    depends_on:
      - mongo
      - redis
    networks:
      - app-network

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    container_name: react-frontend
    ports:
      - "3002:3000"
    volumes:
      - ./client:/app:cached
    command: [ "npm", "start" ]
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  mongo-data:
  jenkins_home:


networks:
  app-network:
    driver: bridge
