apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: {{ .Values.namespace }}
  labels:
    app: auth-service
spec:
  replicas: {{ .Values.authService.replicaCount }}
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      serviceAccountName: auth-service-sa
      containers:
        - name: auth-service
          image: "{{ .Values.authService.image.repository }}:{{ .Values.authService.image.tag }}"
          imagePullPolicy: {{ .Values.authService.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.authService.containerPort }}

          envFrom:
            - secretRef:
                name: auth-service-secrets

          livenessProbe:
            httpGet:
              path: /api/health
              port: {{ .Values.authService.containerPort }}
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3

          readinessProbe:
            httpGet:
              path: /api/health
              port: {{ .Values.authService.containerPort }}
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 1
            failureThreshold: 3

          resources:
            requests:
              cpu: {{ .Values.authService.resources.requests.cpu | quote }}
              memory: {{ .Values.authService.resources.requests.memory | quote }}
            limits:
              cpu: {{ .Values.authService.resources.limits.cpu | quote }}
              memory: {{ .Values.authService.resources.limits.memory | quote }}