apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: {{ .Values.namespace }}
  labels:
    app: auth-service
spec:
  type: ClusterIP
  selector:
    app: auth-service
  ports:
    - name: http
      port: {{ .Values.authService.service.port }}
      targetPort: {{ .Values.authService.containerPort }}
      protocol: TCP