apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - name: http
      port: 80          # сервисный порт внутри кластера
      targetPort: 80    # контейнер слушает 80 (Nginx)
      nodePort: 31448   # внешний порт на ноде (можешь поменять, если занят)