replicaCount: 1

image:
  repository: arnold2343/api-gateway
  tag: sha-8a3bab9d6e18a48bc9b0e96bc4d296aa55d5293b
  digest: "sha256:74e4a854377cc5174dad595857984533ed7e391daa89f6e5d54e0fad2aab1820"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

env:
  NODE_ENV: "development"