replicaCount: 1

image:
  repository: ghcr.io/arni1197/api-gateway
  tag: sha-80d39f73a2e3208056d02134e589c409af7012ac
  digest: "sha256:bdafa2e25c96e98b2a2c285250ceead23a3237bc9457e1af78820db2d579ab38"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

env:
  NODE_ENV: "development"