replicaCount: 1

image:
  repository: arnold2343/api-gateway
  tag: sha-63e4f8241594f31274abe2e8c38dbd74d9d460b5
  digest: "sha256:<PUT_DIGEST_HERE>"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

env:
  NODE_ENV: "development"