replicaCount: 1

image:
  repository: ghcr.io/arni1197/api-gateway
  tag: sha-598e1c7dff2114110441013d86653d47f65a04e2
  digest: "sha256:b741c2de5bc744fef3e2930565fdf09f35dd65b21b80eaa09803cf74be6eeb7c"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi
autoscaling:
  enabled: false

env:
  NODE_ENV: "development"