replicaCount: 1

image:
  repository: arnold2343/api-gateway
  tag: sha-5321cbf53ae0f547bc988298a0a757ddf6edbc2c
  digest: "sha256:fa719328d8b42e8ed02521e9a712a270844e31bde18169264609cdb6b7eea59c"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

env:
  NODE_ENV: "development"