replicaCount: 1

image:
  repository: arnold2343/api-gateway
  tag: sha-befb79c13549c8a13e5a42183ed7fd9ff7bc0c1c
  digest: "sha256:7743eee28c6d416f3d9da56139e89ca1bc91f16ac796c06d2ee17266c43ac133"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

env:
  NODE_ENV: "development"