replicaCount: 1

image:
  repository: arnold2343/game-auth-service
  tag: "sha-30ba1ef25d9b9a6bfac7c6a67a82a6cdf1fdf9f7"   # опционально
  digest: "sha256:3a7bdd031458f114025e67f99de603c043df4a10bef923610c5e6a564d23d21f"
  pullPolicy: IfNotPresent

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

env:
  NODE_ENV: "development"