replicaCount: 1
image:
  repository: arnold2343/game-auth-service
  tag: "latest"
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 3001
resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi
env:
  NODE_ENV: "development"
authService:
  image:
    digest: sha256:bd039d8fde32bb8dc23563c04e43af0df6a9297c0135bb9099f4e4775c82c4fc
