replicaCount: 1
image:
  repository: arnold2343/game-auth-service
  tag: sha-4136a19f8534415528c892254c6481ae2d92fc4a
  digest: "sha256:bb0d4228d417e500560f6b0abc88221cf46be4ed469b5d49d54de7025d374796"
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 3001
resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi
env:
  NODE_ENV: "development"
