replicaCount: 1
image:
  repository: arnold2343/game-auth-service
  tag: sha-9c82deaa7416cccff34430a34c829052ce3d3efb
  digest: "sha256:d932410aa76e921149e229515fc1ad1ff2fc851ba4e90311a523cef11062e0db"
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 3001
resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi
env:
  NODE_ENV: "development"
