replicaCount: 1

image:
  repository: ghcr.io/arni1197/auth-service
  tag: sha-2b9c6796e5020a64fd7409e145280102455b13a1
  digest: "sha256:ba588f1e2aff1357887114f244d057320b12b85483c9184c50eeb11a23114974"
  pullPolicy: IfNotPresent
resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

env:
  NODE_ENV: "development"