replicaCount: 1
image:
  repository: arnold2343/game-auth-service
  tag: "latest"
  pullPolicy: IfNotPresent
  digest: sha256:32dfb49ad8dd645c9957101fbc95bea56812a86c23249e99f9818c7ad7620e1e
service:
  type: ClusterIP
  port: 3001
resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi
env:
  NODE_ENV: "development"
