replicaCount: 1

image:
  repository: ghcr.io/arni1197/auth-service
  tag: "sha-fbefd6ee74657962eec80210279684fe08d08211"   # опционально
  digest: "sha256:46581d81af180082879fa51bc616747b52b830885f5c0d006277850ae62f8240"
  pullPolicy: IfNotPresent

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

env:
  NODE_ENV: "development"