replicaCount: 1
image:
  repository: arnold2343/game-auth-service
  tag: sha-aad47dff0f8dbb164d759bbde1a817b07870d25d
  digest: "sha256:cf5abba39bf0bdc1a2ec586e93909c8ae48debf69f66a196da86163d4685c27e"
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 3001
resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi
env:
  NODE_ENV: "development"
