replicaCount: 1

image:
  repository: ghcr.io/arni1197/catalog-service
  tag: sha-84d229cd04fec5b521514ce40f5d0e3be5bd361f
  digest: "sha256:e3861d5bd787b7d299d44dc070f12715afaf97b0462d4ec9b200e73c2b110d2c"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3003

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

env:
  NODE_ENV: "development"