replicaCount: 1

image:
  repository: ghcr.io/arni1197/catalog-service
  tag: sha-b370945f305e23e37c30931e3b87d5e100c4da7a
  digest: "sha256:78078c8fe35c67ef044b64da86027e88c13e2d07ac9f6fa89e3a00f5e577be03"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3003

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

env:
  NODE_ENV: "development"