replicaCount: 1

image:
  repository: ghcr.io/arni1197/frontend
  tag: sha-97f7b9c6b37c8429ee60edfa08d9d2c2b265335b
  digest: "sha256:06e2a78617a1ae440166de20856bda0ae75b38980ac31b1e01fb78a98b07cf1a"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

env:
  NODE_ENV: "development"