replicaCount: 1

image:
  repository: ghcr.io/arni1197/frontend
  tag: sha-275005351ffc9dacbbc3948de698bc08cc86bc61
  digest: "sha256:06a458ab81621c007358b04b8907ce6b4fb1c9ccff48ccd7b64a2200855ff1a3"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

env:
  NODE_ENV: "development"