replicaCount: 1

image:
  repository: ghcr.io/arni1197/frontend
  tag: sha-eb3b559b5ae9eed6563e25e5fac1aa20ca2bc6da
  digest: "sha256:f4b0d603f14855cc4e95d684318d3a1db57f8cf09db5a01fbc27f8edd207148f"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

env:
  NODE_ENV: "development"