replicaCount: 1

image:
  repository: arnold2343/frontend
  tag: sha-<PUT_SHA_HERE>
  digest: "sha256:<PUT_DIGEST_HERE>"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

env:
  NODE_ENV: "development"