global:
  resolve_timeout: 5m

route:
  receiver: 'slack-notifications'

receivers:
  - name: 'slack-notifications'
    slack_configs:
      - api_url: 'https://hooks.slack.com/services/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'
        channel: '#alerts'
        text: "ALERT: {{ .CommonAnnotations.summary }} - {{ .CommonAnnotations.description }}"