{{- if .Values.userService.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: {{ .Values.namespace }}
  labels:
    app: user-service
spec:
  type: ClusterIP
  selector:
    app: user-service
  ports:
    - name: http
      port: {{ .Values.userService.service.port }}
      targetPort: {{ .Values.userService.containerPort }}
      protocol: TCP
{{- end }}