server_name       = "game-platform-loadtest-dev"
location          = "ru-1"
availability_zone = "spb-3"
cpu               = 2
ram_mb            = 2048
disk_mb           = 40960
admin_user        = "devops"
ssh_key_name      = "sherlock97@Noutbuk-Arnold.local"