kube-prometheus-stack:
  prometheus:
    prometheusSpec:
      retention: 12h
      scrapeInterval: 30s

  grafana:
    enabled: true
    defaultDashboardsEnabled: true

  prometheus-node-exporter:
    enabled: false

tempo:
  enabled: true
  persistence:
    enabled: false

loki:
  enabled: false