{{- if .Values.monitoring.prometheus.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  labels:
    app: prometheus
spec:
  type: ClusterIP
  selector:
    app: prometheus
  ports:
    - port: {{ .Values.monitoring.prometheus.service.port }}
      targetPort: 9090
      protocol: TCP
      name: http
{{- end }}