replicaCount: 1

image:
  repository: ghcr.io/arni1197/api-gateway
  tag: sha-2e7e645184344dbd92aa403ce5e080d0984280c5
  digest: "sha256:eee22a8dbb78d17b615ce1c4b1b061e97e7b7d12f2314007e3d97ffef47d329f"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000
  targetPort: 3000

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi
autoscaling:
  enabled: true


env:
  NODE_ENV: "staging"