replicaCount: 1

image:
  repository: ghcr.io/arni1197/api-gateway
  tag: sha-fd278b2ed637afd9d8178bb2e699096c211bbf4c
  digest: "sha256:e0d597181b50ad798c5eae21c903c9eda81457f0aa7ae49cf0f4ff53659d9b4f"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

env:
  NODE_ENV: "staging"