replicaCount: 1

image:
  repository: arnold2343/auth-service
  tag: sha-a321a139f9e816da92b3f16082085d527bdec341
  digest: "sha256:3dda1644ee485f40b7421339bba9b09c8db3a98c823eed18118ea76643ff5de1"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

env:
  NODE_ENV: "staging"