replicaCount: 1

image:
  repository: arnold2343/catalof-service
  tag: sha-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  digest: "sha256:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

env:
  NODE_ENV: "staging"