replicaCount: 1

image:
  repository: ghcr.io/arni1197/user-service
  tag: sha-80d39f73a2e3208056d02134e589c409af7012ac
  digest: "sha256:0992dc7a4c9e2103077dc807178f0aaa509869c5e4b762635c61376f5a572cfb"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000
  targetPort: 3002

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

env:
  NODE_ENV: "staging"