replicaCount: 1

image:
  repository: arnold2343/user-service
  tag: sha-97f7b9c6b37c8429ee60edfa08d9d2c2b265335b
  digest: "sha256:534e3ef5735b3fd794e4fd0a50dceee9ed1e755cd0cb0190acf2bb264d9c4514"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

env:
  NODE_ENV: "staging"