name: api-gateway | main build & dev deploy (via PR)

on:
  push:
    branches: ["main"]
    paths:
      # ✅ Триггерим билд ТОЛЬКО если менялся код api-gateway
      - "api-gateway/**"

      # ✅ или если менялся сам этот workflow / reusable либы
      - ".github/workflows/main/api-gateway.main.yml"

permissions:
  contents: write
  packages: write
  pull-requests: write

concurrency:
  group: main-api-gateway-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_push:
    name: api-gateway | Docker build & push
    uses: ./.github/workflows/_lib-docker-build-push.yml
    permissions:
      contents: read
      packages: write
    with:
      service_name: "api-gateway"
      context: "api-gateway"
      dockerfile: "api-gateway/Dockerfile"
      image: "ghcr.io/arni1197/api-gateway"
      tag: "sha-${{ github.sha }}"
      push: true
      platforms: linux/amd64,linux/arm64

  update_dev_values_pr:
    name: api-gateway | PR update dev values
    needs: [build_push]
    uses: ./.github/workflows/_lib-promote-pr.yml
    permissions:
      contents: write
      pull-requests: write
    with:
      service_name: "api-gateway"
      target_env: "dev"
      target_values_file: "k8s/environments/local/values/services/api-gateway.yaml"
      new_tag: "sha-${{ github.sha }}"
      new_digest: "${{ needs.build_push.outputs.digest }}"
      base_branch: "main"
      pr_branch_prefix: "promote/dev"
      pr_labels: "gitops,dev"
      skip_if_exists: true